body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden; /* 防止水平滚动 */
}

/* 主容器布局 */
.container {
    display: flex;
    height: 100vh;
}


/* =======================================================
                     左侧固定内容区域 
======================================================= */

.sidebar {
    width: 20%;
    background-color: #5dae87e0;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    position: relative;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #80d5d4;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.sidebar ul li ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; /* 隐藏子菜单 */
}

.sidebar ul li ul li {
    background-color: #93e2e1;
    padding: 8px;
    margin: 5px 0;
    text-align: left;
}

.menu-logo {
    max-height: 40px; /* 限制logo高度 */
    margin-right: 10px; /* 图标与文本的间距 */
    vertical-align: middle; /* 确保图标与文字对齐 */
    cursor: pointer; /* 鼠标悬停时显示为手形 */
    transition: transform 0.2s ease; /* 添加交互效果 */
}

.menu-logo:hover {
    transform: scale(1.1); /* 鼠标悬停时放大 */
    opacity: 0.8; /* 鼠标悬停时稍微变透明 */
}

.icon {
    position: absolute; /* 使用绝对定位 */
    right: 15px; /* 距离父容器右侧 15px */
    align-items: center; /* 垂直居中对齐 */
    cursor: pointer; /* 鼠标悬停时变为手型 */
    font-size: 16px; /* 图标大小 */
    transition: transform 0.2s; /* 增加交互效果 */
}

.icon:hover {
    transform: scale(1.2); /* 悬停时放大 */
    color: #666; /* 悬停时更改颜色 */
}

.checkbox-container {
    display: flex;
    align-items: center; /* 垂直居中对齐文字 */
    justify-content: flex-start; /* 将内容左对齐 */
    padding-left: 8px; /* 设置复选框距离左侧的固定间距 */
}

.checkbox-container .Check {
    margin-right: 0px; /* 复选框和文字之间的间距 */
}

.checkbox-container span {
    flex-grow: 1;
    text-align: center; /* 文字居中对齐 */
}

#checkbox-container input[type="checkbox"]:checked {
    background-color: #ffffff !important; /* 勾选时的背景颜色 */
}

#checkbox-container input[type="checkbox"]:checked::after {
    border-color: #2983bb !important;
}

.Check:checked {
    background-color: #ffffff !important;  /* 勾选时背景颜色 */
}

.Check:checked::after {
    border-color: #2983bb !important; /* 勾选时勾的颜色 */
}


/* 设定按钮样式 */
.select-all-btn {
    background-color: #80d5d4; /* 按钮背景色 */
    color: rgb(0, 0, 0); /* 按钮文字颜色 */
    border: none; /* 去除边框 */
    padding: 10px 20px; /* 设置内边距 */
    font-size: 16px; /* 设置字体大小 */
    font-weight: bold; /* 文字加粗 */
    border-radius: 5px; /* 圆角效果 */
    cursor: pointer; /* 鼠标悬停时显示为手型 */
    margin-bottom: 20px; /* 下方增加间距 */
    transition: background-color 0.3s ease, transform 0.2s; /* 添加过渡效果 */
}

/* 鼠标悬停效果 */
.select-all-btn:hover {
    background-color: #93e2e1; /* 鼠标悬停时的背景色 */
    transform: scale(1.05); /* 增大按钮的大小 */
}

/* 鼠标按下时的效果 */
.select-all-btn:active {
    transform: scale(0.98); /* 按下按钮时缩小 */
}

/* 设置按钮在小屏幕下的自适应布局 */
@media (max-width: 1200px) {
    .sidebar {
        width: 25%;
    }
    .fixed-content {
        width: 25%;
    }
}

@media (max-width: 992px) {
    .sidebar {
        width: 28%;
    }
    .fixed-content {
        width: 28%;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .sidebar, .fixed-content {
        width: 100%;
        height: auto;
    }
    .main-content {
        height: auto;
    }
}



/* =======================================================
                    表格样式
======================================================= */
/* 名称解释 */
.custom-tooltip {
    visibility: hidden;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    top: 20px;
    left: 0;
    white-space: nowrap;
    z-index: 10;
}
div:hover .custom-tooltip {
    visibility: visible;
}

table {
    width: 100%;
    border-collapse: collapse; /* 合并边框 */
    margin: 20px auto; /* 居中显示 */
    font-family: Arial, sans-serif; /* 字体样式 */
    table-layout: fixed; 
   
}

th {
    background-color: #555; /* 背景色 */
    border: 1px solid #ddd; /* 边框 */
    color: rgb(0, 0, 0); /* 文字颜色 */
    padding: 10px; /* 内边距 */
    text-align: center; /* 居中对齐 */
}

td {
    border: 1px solid #ddd; /* 边框 */
    padding: 10px; /* 内边距 */
    text-align: center; /* 居中对齐 */
}

th:first-child, 
td:first-child {
    /* 固定宽度，可根据需要调整 */
    white-space: nowrap;
}

tr:hover {
    background-color: #f3f2f2; /* 悬停背景色 */
}




/* =======================================================
                    中间可变内容区域 
======================================================= */
/* 标签页样式 */
.tab-bar {
    display: flex;
    gap: 10px;
    background-color: #eee;
    padding: 10px;
}

.tab {
    padding: 10px 20px;
    background-color: #ccc;
    cursor: pointer;
    border-radius: 5px;
}

.tab.active {
    background-color: #5dae87e0;
    color: white;
}

.tab-content {
    padding: 20px;
    background-color: #f9f9f9;
    display: none;
}

.tab-content.active {
    display: block;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    box-sizing: border-box;
     /* 启用水平滚动 */
}

#logo-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%; /* 占满父容器 */
    background-color: #f4f4f4; /* 与背景一致 */
}

#logo-placeholder img {
    max-width: 100%; /* 自适应大小 */
    height: auto;
    opacity: 0.3; /* 半透明效果（可选） */
}




#graphTable {
    table-layout: fixed;
    width: 100%;
    height: auto;
    width: auto; 
}

#graphTable th:nth-child(1),
#graphTable td:nth-child(1) {
    
    background-color: #ffffff; /* 白色背景 */
    width:230px; /* 固定宽度，可根据需要调整 */
    white-space: nowrap;
    max-width: 100%; 
}

#graphTable tr:nth-child(odd) td:nth-child(1) {
    background-color: rgba(209, 208, 207, 0.3);
}

#graphTable thead th:nth-child(2) {
    background-color: rgba(229, 19, 0, 0.2); /* 红色背景 */
}

#graphTable tr:nth-child(odd) td:nth-child(2) {
    background-color: rgba(229, 19, 0, 0.3);
}

#graphTable tr:nth-child(even) td:nth-child(2) {
    background-color: rgba(229, 19, 0, 0.2);
}


#graphTable th:nth-child(3),
#graphTable td:nth-child(3) {
    background-color: rgba(240, 150, 9, 0.2); /* 橙色背景 */
}

#graphTable tr:nth-child(odd) td:nth-child(3) {
    background-color: rgba(240, 150, 9, 0.3);
}

#graphTable tr:nth-child(even) td:nth-child(3) {
    background-color: rgba(240, 150, 9, 0.2);
}

#graphTable th:nth-child(4),
#graphTable td:nth-child(4) {
    background-color: rgba(27, 161, 226, 0.3); /* 蓝色背景 */
}

#graphTable tr:nth-child(odd) td:nth-child(4) {
    background-color: rgba(27, 161, 226, 0.3);
}

#graphTable tr:nth-child(even) td:nth-child(4) {
    background-color: rgba(27, 161, 226, 0.2);
}

#graphTable tr:nth-child(odd) #mergedCell {
    background-color:  rgba(249,217,234);
}

#graphTable tr:nth-child(even) #mergedCell {
    background-color: #ffffff;
}





/* =======================================================
                    右侧固定内容区域 
======================================================= */

.fixed-content {
    width: 20%;
    background-color: #5dae87e0;
    color: white;
    height: 100vh; /* 满屏高度 */
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* 防止溢出 */
    position: relative;
}

.fixed-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* 复选框样式 */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

input[type="checkbox"]:checked {
    background-color: #ddd;
    border-color: #ddd;
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%,-50%)rotate(45deg);
}

input[type="checkbox"]:hover {
    border-color: #333;
}

label {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

li {
    text-align: center; /* 水平居中对齐文本 */
    list-style-type: none; /* 去掉列表前的默认符号 */
}

.upload-container {
    text-align: center;
    margin: 20px 0;
}

/* 隐藏文件输入框 */
input[type="file"] {
    display: none;
}

/* 自定义文件上传按钮 */
.custom-file-input {
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #80d5d4;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-file-input:hover {
    background-color: #93e2e1; /* 鼠标悬停时的背景色 */
    transform: scale(1.05); /* 增大按钮的大小 */
}

.custom-file-input:active {
    transform: scale(0.98); /* 按下按钮时缩小 */
}

.custom-file-input .content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-input .content i,
.custom-file-input .content .button-text {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.custom-file-input .content .button-text {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif; /* 确保字体一致 */
}

.file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
}

/* 进度条容器 */
#progressBarContainer {
    width: 100%;
    background: #e0e0e0;  /* 背景颜色 */
    border-radius: 10px;
    height: 25px;
    margin-top: 20px;  /* 增加上间距 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* 添加轻微阴影 */
    position: relative; /* 用于定位进度文本 */
}

/* 进度条 */
#progressBar {
    height: 100%;
    background: linear-gradient(90deg, #80d5d4, #2983bb); /* 渐变进度条颜色 */
    border-radius: 10px;
    transition: width 0.3s ease-in-out;  /* 平滑过渡效果 */
}

/* 进度文本 */
#progressText {
    position: absolute;
    right: 10px; /* 将文字放在右侧 */
    top: 50%;
    transform: translateY(-50%); /* 垂直居中 */
    font-size: 16px;
    font-weight: bold;  /* 加粗文本 */
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);  /* 添加文本阴影 */
}

/* GFA样例按钮 */
.example-buttons {
    display: flex;
    /* flex-direction: column; 上下布局 */
    /* align-items: center; 使按钮整体居中对齐 */
    gap: 10px; /* 可以调整按钮之间的间距 */
    justify-content: center; /* 居中对齐按钮 */
}

.example-button {
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2em;
    padding: 0.75em 1em;
    color: #2983bb;
    border: 0.15em solid #2983bb;
    border-radius: 2em;
    transition: 4s;
    margin-bottom: 15px; /* 增加按钮之间的间距 */
    cursor: pointer; /* 鼠标悬停时变成手型 */
    white-space: nowrap; /* 确保文字不换行 */
}

.example-button:before,
.example-button:after {
    content: "";
    position: absolute;
    top: -1.5em;
    z-index: -1;
    width: 200%;
    aspect-ratio: 1;
    border: none;
    border-radius: 40%;
    background-color: rgba(34, 162, 195, 0.25);
    transition: 4s;
}

.example-button:before {
    left: -80%;
    transform: translate3d(0, 5em, 0) rotate(-340deg);
}

.example-button:after {
    right: -80%;
    transform: translate3d(0, 5em, 0) rotate(390deg);
}

.example-button:hover,
.example-button:focus {
    color: white;
}

.example-button:hover:before,
.example-button:hover:after,
.example-button:focus:before,
.example-button:focus:after {
    transform: none;
    background-color: rgba(34, 162, 195, 0.75);
}

.compare-buttons {
    text-align: center;
}

.compare-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #80d5d4;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px; /* 固定按钮高度 */
    margin-bottom: 10px; /* 增加按钮之间的间距 */
}

.compare-button:hover {
    background-color: #93e2e1; /* 鼠标悬停时的背景色 */
    transform: scale(1.05); /* 增大按钮的大小 */
}

.compare-button:active {
    transform: scale(0.98); /* 按下按钮时缩小 */
}

.transparent-background {
    color: rgb(0, 0, 0); 
    padding: 5px; /* 增加一些内边距，让文本更清晰 */
    border-radius: 10px; /* 可选：为背景加圆角效果 */
    font-size: 14px; /* 设置字体大小 */
}

/* 父容器：使用 flex 布局让按钮并排显示 */
.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
    position: fixed;
    bottom: 5px;
    flex-wrap: wrap; /* 允许换行 */
}

.download-btn {
    width: 95px;
    height: 30px;
    background: #80d5d4;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    overflow: hidden;
    display: flex;            /* 让按钮内部的内容（图标和文字）使用 flex 布局 */
    align-items: center;      /* 垂直居中对齐 */
    justify-content: center;  /* 水平居中对齐 */
    position: relative;       /* 保证按钮内的动画能正确显示 */
    transform-origin: center; /* 确保从中心缩放 */
    padding: 0px 5px;
}

/* 按钮悬停时的效果 */
.download-btn:hover {
    background-color: #93e2e1; /* 鼠标悬停时的背景色 */
    transform: scale(1.05);     /* 按钮放大效果 */
}

/* 按钮的激活状态 */
.download-btn.active {
    height: 10px;              /* 激活时按钮高度变化 */
    width: 90px;
}

/* 背景动画效果 */
.download-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -100%;
    width: 100%;
    background: #2983bb;
    border-radius: 55px;
    transform: translateY(-50%); /* 垂直居中加载条 */
    transition: all 6s ease-in-out;
}

/* 激活时背景动画 */
.download-btn.active::before {
    animation: layer 6s ease-in-out forwards;
}

/* 背景动画的关键帧 */
@keyframes layer {
    100% {
        left: 0%;
    }
}

/* 按钮内部内容 */
.download-btn .content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    transition-delay: 0.2s;
}

/* 激活时内容的动画 */
.download-btn.active .content {
    transform: translateY(60px); /* 内容下移 */
}

/* 按钮内部图标和文本样式 */
.download-btn .content i,
.download-btn .content .button-text {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

/* 按钮文本的样式 */
.download-btn .content .button-text {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif; /* 确保字体一致 */
}

.icon-image {
    height: 16px; /* 调整图片高度 */
    margin-left: 5px;
    margin-right: 5px; /* 图标与文字间距 */
    vertical-align: middle; /* 垂直居中对齐 */
}


#page-tab, #page-tab * {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

#page-tab, #page-tab #page-tab-content, #page-tab .tab-btn{
    height: 30px;
    line-height: 30px;
}

#page-tab {
    width: 100%;
    border-top: 1px solid #f1f0f0;
    border-bottom: 2px solid;
    border-bottom-color: #000;
    position: relative;
    line-height: 30px;
}

#page-tab-content {
    margin-left: 30px;
    width:98%;
    background-color: #fff;
}

#page-tab button {
    background: #fff;
    border: 0;
    cursor: default;
}

#page-tab .tab-btn, #page-tab #page-operation {
    position: absolute;
    width: 30px;
    text-align: center;
    color: #999;
    z-index: 2;
    top: 0;
}

#page-tab #page-prev {
    left: 0;
    border-right: 1px solid #f1f0f0;
    /* background-image: url(../styles/prev.png); */
    background-position: 5px 50%;
    background-size: 20px;
    background-repeat: no-repeat;
}

#page-tab #page-next {
    right: 0;
    border-left: 1px solid #f1f0f0;
    border-right: 1px solid #f1f0f0;
    /* background-image: url(../styles/next.png); */
    background-position: 5px 50%;
    background-size: 20px;
    background-repeat: no-repeat;
}

#page-tab #page-operation {
    right: 0;
    width: 30px;
    background-image: url(../styles/list.png);
    background-position: 5px 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    background-color: #fff;
}

#page-tab #page-operation:hover {
    background-color: #f1f0f0;
}

#page-tab #menu-list {
    float: left;
}

#page-tab #menu-list a {
    float: left;
    text-decoration: none;
    padding: 0 10px 0 20px;
    border-right: 1px solid #f1f0f0;
    color: #999;
    font-size: 12px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color .5s;
    -moz-transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
}

#page-tab #menu-list a:hover {
    background-color: #f1f0f0;
}

#page-tab #menu-list a.active {
    background-color: #5dae87e0;
    color: #ffffff;
    border-right: 0;
    transition: color .5s, background-color .5s;
    -moz-transition: color .5s, background-color .5s;
    -webkit-transition: color .5s, background-color .5s;
    -o-transition: color .5s, background-color .5s;
}

#page-tab #menu-list a.active:hover {
    color: #000000;
}

#page-tab .menu-close:hover {
    background-image: url(../styles/close.png);
}

#menu-all {
    width: 175px;
    border: 1px solid #000;
    position: absolute;
    right: 0;
    z-index: 100;
    min-height: 25px;
    padding: 1px;
    display: none;
    max-height: 380px;
    top: 31px;
    background-color: #fff;
}

#menu-all #menu-all-ul {
    width: 100%;
    height: 100%;
}

#menu-all #menu-all-ul li {
    list-style: none;
    padding: 5px 19px 5px 7px;
    cursor: pointer;
    font-size: 12px;
}

#menu-all #menu-all-ul li.active {
    background-color: #5dae87e0;
    color: #fff;
}

#menu-all #menu-all-ul li:not(.active):hover {
    background-color: #f1f0f0;
}

#page-content {
    width: 100%;
    height: 100%;
}

#page-content .iframe-content {
    width: 100%;
    height: 100%;
    border: 0;
    display: none;
}

#page-content .active {
    display: block;
}


#custom-table {
    width: 100%;
    margin: 10px 0;
    background-color: white;
}
#custom-table th, #custom-table td {
    border: 1px solid #ddd;
    padding: 4px;
    font-size: 10px; /* 只改当前表格的字体大小 */
    text-align: center;
    white-space: normal; /* 允许换行 */
    word-wrap: break-word; /* 自动换行 */
}
#custom-table th {
    color: black;
    font-weight: bold;
}
#custom-table th:nth-child(1),
#custom-table td:nth-child(1) {
    background-color: #ffffff; /* 白色背景 */
    color: #000;
    font-size: 8px; /* 只改当前表格的字体大小 */
    font-family: 'Noto Sans', sans-serif;  /* 设置字体 */
    font-style: italic;  /* 设置字体倾斜 */
}
#custom-table th:nth-child(2),
#custom-table td:nth-child(2) {
    background-color:  rgba(249,217,234);
    
}
#custom-table th:nth-child(3),
#custom-table td:nth-child(3) {
    background-color: rgba(229, 19, 0, 0.2); /* 红色背景 */
}

#custom-table th:nth-child(4),
#custom-table td:nth-child(4) {
    background-color: rgba(240, 150, 9, 0.2); /* 橙色背景 */
}
#custom-table th:nth-child(5),
#custom-table td:nth-child(5) {
    background-color: rgba(27, 161, 226, 0.3); /* 蓝色背景 */
}
